header {
  background-image: url(../image/header/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
}

.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 21px;
  font-weight: 700;
  font-size: 12px;
}

.header__box {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  text-transform: uppercase;
}

.header__item {
  padding-right: 32px;
  letter-spacing: 0.1em;
}

.header__item:last-child {
  padding-right: 0;
}

.header__icon {
  padding-left: 17px;
  padding-right: 17px;
}

.header__icon:last-child {
  padding-right: 0;
  padding-left: 0;
}

.header__icon:first-child {
  padding-left: 0;
}

.header__leng {
  padding-right: 17px;
  border-right: 1px solid #ffffff;
}

.header__select {
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.1);
  background: none;
  color: #ffffff;
  border: none;
}

.header__option {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 3px;
}

.header__option:hover {
  color: #FFB548;
  cursor: pointer;
}

.header__main {
  padding-top: 215px;
  text-align: center;
}

.header__title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 80px;
  letter-spacing: 3px;
  font-weight: 700;
}

.header__subtitle {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  letter-spacing: 2px;
  padding-bottom: 29px;
  font-weight: 700;
}

.header__btn {
  width: 260px;
  height: 60px;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
  border: none;
  color: #1A1917;
}

.header__span {
  border-right: 1px solid #1A1917;
  padding-right: 10px;
}

.header__footer {
  padding-top: 362px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.battle {
  background: linear-gradient(180deg, #000000 1.42%, rgba(0, 0, 0, 0) 60.63%, #000000 99.1%), linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/battle/2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 960px;
  position: relative;
}

.battle__block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 228px;
  padding-bottom: 175px;
}

.battle__title {
  line-height: 80px;
  max-width: 415px;
  padding-bottom: 78px;
  text-transform: uppercase;
}

.battle__subtitle {
  padding-bottom: 0;
}

.battle__text {
  max-width: 365px;
  text-align: justify;
  padding-left: 195px;
  padding-right: 119px;
  font-size: 18px;
}

.battle__img {
  height: 563px;
  width: 438px;
}

.battle__box-pos {
  display: flex;
  align-items: center;
}

.battle__link {
  padding-left: 60px;
  transform: rotate(-90deg);
}

.features {
  background: url(../image/features/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 960px;
  position: relative;
}

.features__box {
  width: 410px;
  padding-bottom: 28px;
}

.features__minititle {
  font-family: 'Bebas Neue', sans-serif;
  color: #FFB548;
  font-size: 36px;
  font-weight: 700;
  padding-bottom: 5px;
  letter-spacing: 2px;
}

.features__minitext {
  text-align: justify;
  font-size: 18px;
}

.features__block {
  position: absolute;
  top: 160px;
  right: 23%;
}

.features__title {
  padding-bottom: 70px;
}

.features__subtitle {
  padding-bottom: 8px;
}

.system {
  background: radial-gradient(45.26% 65% at 65.32% 67.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 10.22%, #080A0B 99.74%), url(../image/system/4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 960px;
  position: relative;
  padding-top: 245px;
  text-align: center;
}

.system__subtitle {
  padding-bottom: 8px;
}

.system__title {
  padding-bottom: 283px;
}

.system__minititle {
  text-align: left;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 24px;
  color: #FFB548;
  letter-spacing: 2px;
  font-weight: 700;
  padding-bottom: 6px;
}

.system__text {
  text-align: left;
  font-size: 18px;
}

table {
  width: 580px;
  border-collapse: collapse;
  border: 1px solid #979797;
}

tr {
  border: 1px solid #979797;
}

td {
  padding: 20px 10px;
  border: 1px solid #979797;
}

.press {
  background: #000000;
}

.press__block {
  padding-top: 159px;
  justify-content: space-between;
}

.press__img {
  border-radius: 50%;
}

.press__img1 {
  width: 65px;
  height: 65px;
}

.press__subtitle {
  padding-bottom: 8px;
}

.press__title {
  padding-bottom: 60px;
}

.press__text {
  width: 434px;
  text-align: justify;
  padding-bottom: 37px;
  font-size: 18px;
}

.press__minitext {
  padding-left: 20px;
  padding-bottom: 20px;
}

.press__mintext {
  padding-bottom: 20px;
  font-size: 18px;
}

.press__minititle {
  line-height: 24px;
  color: #FFB548;
  text-transform: uppercase;
}

.press__minisubtitle {
  font-size: 22px;
  color: #FFFFFF;
  opacity: 0.5;
}

.press__sign {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: 14px;
  padding-bottom: 20px;
}

.press__icon {
  position: absolute;
  top: 20px;
  right: 10px;
}

.press__minibox {
  width: 452px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin-bottom: 30px;
  padding-top: 20px;
  padding-left: 20px;
  position: relative;
}

.press__minibox1 {
  display: flex;
  padding-bottom: 26px;
}

.press__minibox-pos {
  margin-left: -80px;
}

.subscribe__block {
  padding-top: 50px;
}

.subscribe__input {
  width: 346px;
  height: 60px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  border: none;
  margin-right: 20px;
  padding-left: 20px;
}

.subscribe__text {
  width: 600px;
  padding-bottom: 70px;
}

.subscribe__title {
  padding-bottom: 48px;
}

footer {
  background: #000000;
}

.footer__one {
  padding-bottom: 22px;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid grey;
  padding-top: 22px;
  padding-bottom: 30px;
}

.footer__text {
  font-size: 14px;
  opacity: 0.5;
}

.footer__minibox {
  padding-right: 10px;
  padding-left: 10px;
  border-right: 1px solid #ffffff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
}

.footer__minibox:last-child {
  padding-right: 0;
  border-right: none;
}

.footer__minibox:first-child {
  padding-left: 0;
  border-left: none;
}

.footer__icon {
  width: 26px;
}

.footer__icon:last-child {
  padding-left: 17px;
}

body {
  color: #ffffff;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

input:hover, button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  color: #FFB548;
  border-bottom: 1px solid #FFB548;
  padding-bottom: 10px;
  transition-duration: 100ms;
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */