.battle {
   background: linear-gradient(180deg, #000000 1.42%, rgba(0, 0, 0, 0) 60.63%, #000000 99.1%), linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../image/battle/2.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 960px;
   position: relative;

   &__block {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding-top: 228px;
      padding-bottom: 175px;
   }

   &__title {
      line-height: 80px;
      max-width: 415px;
      padding-bottom: 78px;
      text-transform: uppercase;
   }

   &__subtitle {
      padding-bottom: 0;
   }

   &__text {
      max-width: 365px;
      text-align: justify;
      padding-left: 195px;
      padding-right: 119px;
      font-size: 18px;
   }

   &__img {
      height: 563px;
      width: 438px;
   }

   &__box-pos {
      display: flex;
      align-items: center;
      
   }

   &__link {
      padding-left: 60px;
      transform: rotate(-90deg);
   }
}


