@import 'header';
@import 'battle';
@import 'features';
@import 'system';
@import 'press';
@import 'subscribe';
@import 'footer';


body {
   color:#ffffff;
   margin: 0;
   font-family: 'Open Sans', sans-serif;
}

img {
	max-width: 100%;
}

input, button {
   &:focus {
      outline: none;
   }  

   &:hover {
      cursor: pointer;
   }
}

a {
   text-decoration: none;
   color: #ffffff;
   &:hover {
      color: #FFB548;
      border-bottom: 1px solid #FFB548;
      padding-bottom: 10px;
      transition-duration: 100ms;
   }	
      
}

ul {
   padding-left: 0;
}

li {
   list-style-type: none;
}

// .button:hover {
//    background: #ffffff;
//    color:  #22262A;
//    font-weight: 600;
//    transition: all 0.2s ease 0s;
// }

// .button__two:hover {
//    background: #22262A;
//    color: #ffffff;
//    font-weight: 600;
//    transition: all 0.2s ease 0s;
// }
